.font-poppins {
  font-family: "Poppins", serif;
}
body {
  font-family: "Poppins", serif;
}
.shadow-custom {
  box-shadow: 0px 0px 14px 0px #0000001a;
}
.container {
  padding-left: 150px !important;
  padding-right: 150px !important;
  max-width: 1440px !important;
  margin: 0 auto !important;
}
@media (max-width: 768px) {
  .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin: 0 auto !important;
  }
}
@media (max-width: 521px) {
  .container {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin: 0 auto !important;
  }
}
@media (max-width: 375px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 0 auto !important;
  }
}
